#breadcrumb-blue {
    margin: 20px auto;
    width: 95%;
    display: grid;
    grid-template-areas:
    'back title'
    'back sub';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 1fr;
    grid-column-gap: 10px;

    border-bottom: 3px solid #4cb944; 

    #img-blue-back {
        grid-area: back;
        box-sizing: border-box;

        img {
            margin-top: 12px;
            width: 90%;

        }
    }

    #bread-title {
        grid-area: title;
        font-size: 18px;
        margin: 15px 0 0 0;
    }

    #bread-sub {
        grid-area: sub;
        margin: 0;

    }
}
